@use "base/variables" as v;
@use 'base/mixins' as m;

.acciones {
  margin-top: v.$separacion;
  text-align: center;

  @include m.tablet {
    display: flex;
    justify-content: space-around;
    margin-top: auto;
  }
  a {
    color: v.$blanco;
    display: block;
    margin-bottom: calc(v.$separacion/2);
  }
}